*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

h1{
    font-size: 1.5vw;
}

h2{
    font-size: 1.4vw;
}

h3{
    font-size: 1.3vw;
}

h4{
    font-size: 1.2vw;
}

p{
    font-size: 1.1vw;
}